# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List commonly used libraries by Data Scienctists
* Data science Tools
* Arthimetic Expressions in Phyton

Some of the popular languages that Data Scientinsts use are:
1. phyton
2. R
3. SQL
4. JAVA
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Scikit-learn
4. dplyr
5. ggplot2
6. caret
7. SQLAlchemy

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

###  Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
# This a simple atithmetic expression to multiply then add integers

(3*4)+5

17

In [10]:
# This will convert 200 minutes to hours by diving by 60

200/ 60

3.3333333333333335

## Author
Barnabas Jema Lemma